@charset "utf-8";
/* 200120 희재 */
/* custom css 입니다. 추가적인 css 는 여기에 작성을 해주세요. */
.cboth { clear:both;*zoom:1 }
.cboth:after { content:" "; display:block; clear:both; }
.fleft {float:left;}
.fright {float:right;}
.left { text-align: left; }
.center { text-align: center; }
.bold { font-weight: bold; }
.none { display:none; }

*:focus { outline:none; }​ 

.pdt5 {padding-top:5px;}
.pdt10 {padding-top:10px;}
.pdt20 {padding-top:20px;}
.pdt30 {padding-top:30px;}
.pdt40 {padding-top:40px;}
.pdt50 {padding-top:50px;}
.pdt60 {padding-top:60px;}
.pdt70 {padding-top:70px;}
.pdt80 {padding-top:80px;}
.pdt90 {padding-top:90px;}
.pdt100 {padding-top:100px;}
.pdt120 {padding-top:120px;}
.pdt140 {padding-top:140px;}
.pdt200 {padding-top:200px;}
.pdl20 {padding-left:20px;}
.pdb10 {padding-bottom:10px;}
.pdb15 {padding-bottom:15px;}
.pdb20 {padding-bottom:20px;}
.pdb30 {padding-bottom:30px;}
.pdl10 {padding-left:10px;}
.relative {position:relative;}
.mt0 {margin-top:0;}
.mt35 {margin-top:35px;}

/* 롤오버 */
a img.menuon {display:none;}
a img.menuoff {display:inline;}
a:hover img.menuon {display:inline;}
a:hover img.menuoff {display:none;}

a {selector-dummy: expression(this.hideFocus=true);text-decoration:none;}
.move {-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}

@keyframes blink {
    0% {opacity:0.5;}
	50% {opacity:1;}
    100% {opacity:0.5;}
}
@-webkit-keyframes blink {
    0% {opacity:0.5;}
	50% {opacity:1;}
    100% {opacity:0.5;}
}



/* 레이아웃 */
#wrap {position:relative; min-width:1380px} /* 좌우 scroll배너크기 합친값 = min-width */
#wrap:after { content:" "; display:block; clear:both;}
#contents .sub_content,
.gnb,.header_top_cont,.header_search_cont,.main_goods_cont,.content_info,.foot_list ul,.foot_cont,.foot_certify {position:relative; width:1720px; margin:0 auto;} /* 컨텐츠 사이즈 + 센터정렬 */
#container {margin:0; border-top:0;}
#contents {min-height:400px; padding:0 0 40px 0;}
#contents:after {display:block; clear:both; content:"";}
.sub_content {padding:0;}
#footer_wrap {border:0;}
body, th, td, input, select, textarea, button {font-family:'Nanum Gothic','Montserrat', Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;}
body {margin:0px;padding:0px;font-family: 'Montserrat','Noto Sans KR',sans-serif;}

/* 서브 메뉴가 왼쪽일때 레이아웃 */
#contents .sub_content > .side_cont + .content {float:right; width:1500px; padding:0;}

/* 페이지 네비게이션 여백 정렬 + 마이페이지, 고객센터, 주문페이지 좌측 여백 조정 */
#contents > .location_wrap {border:0;margin:0 auto;width:1720px;}
#contents > .location_wrap .location_cont {margin:0 auto;width:1720px;}

/* 페이지 네비게이션 여백 정렬 */
.location_wrap {margin-top:0; border-bottom:0px;}
.sub_content .location_wrap {margin-top:0; border-bottom:0px;}
.location_wrap .location_cont {width:1720px; margin:0 auto; text-align:right; padding:20px 0px;}
.location_cont em {display:inline-block;float:none;}
.location_select {min-width:150px;text-align:left; border:1px solid #dedede;}
.location_select ul li a:hover{color:#ffffff; text-decoration:none; background:#000;}

/* 서브페이지 베너 여백 */
.addition_zone {padding:0 0 75px 0;}
.addition_zone img {width:100%;}

/* 서브페이지 추천상품 여백 */
.best_item_view {margin:50px 0 40px 0;}

/* 서브페이지 타이틀 */
.goods_list_item_tit {position:relative; margin:0 auto; padding:0 0 25px; text-align:center; clear:both;}
.goods_list_item_tit h2 { color:#000; text-align:center; font-family: 'Montserrat','Nanum Gothic',sans-serif; font-size:28px; font-weight:200; line-height:1; padding: 0px;}
.goods_list_item_tit + .list_item_category {margin:0 auto;}

/* 서브페이지 중분류 리스트 */
.list_item_category {border:0;}
.list_item_category ul{display:block; width:auto; padding:0; font-size:0; text-align:center;}
.list_item_category li {width:auto; height:38px; padding:0; font-size:12px; text-align:center; vertical-align:middle; border:0px; font-family:'Montserrat','Nanum Gothic', sans-serif;}
.list_item_category li:hover {color:#000;}
.list_item_category li a{display:block; padding:0px 20px; line-height:38px; color:#888; text-align:center; font-family:'Montserrat','Nanum Gothic', sans-serif; font-weight:300; background:url('../img/mimg/sub_cate_bg.gif') no-repeat; background-position:left center;}
.list_item_category li:first-child a {background:none;}
.list_item_category li a img{max-width:100%; max-height:20px;}
.list_item_category li a:hover{text-decoration:none; color:#000;}
.list_item_category li em{color:#888; display:none;}
.list_item_category li.on {color:#000; }
.list_item_category li.on em,
.list_item_category li.on a {color:#000; font-weight:400;}

/* 게시판 타이틀 */
.board_zone_tit h2 {font-weight:bold;display:inline-block; color:#222;font-size:14px;margin:0 auto 20px;text-align:left;line-height:20px;margin-top:30px; font-family:'Montserrat', 'Nanum Gothic', sans-serif;}

/* 메인페이지 상품 타이틀 숨김 */
.goods_list_tit {display:none;}



/* 상단 : 시작 */
#header {margin:0px; padding:0px; font-size:0px;}
#comment_top.fixed {position:fixed; top:0px; left:0%; right:0%; z-index:1000; background-color:#fff; border-bottom:1px solid #ebebeb !important;}


/* 상단 영역 01 */
#header .header_sec01 {height:50px; width:100%; border-bottom:1px solid #ebebeb;}
#header .header_sec01 .inner {width:1720px; height:50px; margin:0 auto; position:relative;}
#header .header_sec01 ul.sec01_left li {float:left; padding:0px 20px; border-right:1px solid #ebebeb;}
#header .header_sec01 ul.sec01_left li:first-child {padding-left:0px;}
#header .header_sec01 ul.sec01_left li a {line-height:50px; font-size:12px; color:#888; }
#header .header_sec01 ul.sec01_left li a:hover {color:#000;}
#header .header_sec01 ul.sec01_right li {float:left;  padding:0px; position:relative;}


/* 상단 영역 01:다국어 */
#header .header_sec01 .sec01_global  {position:relative; width:115px; background:url('../img/mimg/ico_top_ar.gif') no-repeat; background-position:87px center; padding:0px !important; text-align:left;}
#header .header_sec01 .sec01_global a { display:inline-block;}
#header .header_sec01 .sec01_global .ico_kor {font-size:0px; float:left; padding:18px 5px 0px 20px;}
#header .header_sec01 .sec01_global:hover .glo_sub  {opacity:1; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; top:50px;}
#header .header_sec01 .sec01_global .glo_sub {width:115px; border:1px solid #ebebeb; border-top:1px solid #fff;  position:absolute; top:-113px; left:-1px; z-index:200; background-color:#fff; opacity:0; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;}
#header .header_sec01 .sec01_global .glo_sub a {height:36px; line-height:36px; font-size:12px; color:#888; display:block; padding-left:20px;}
#header .header_sec01 .sec01_global .glo_sub a:hover {color:#000; background-color:#f5f5f5;}
#header .header_sec01 .sec01_global .glo_sub img {float:left; padding-top:12px; padding-right:5px;}


/* 상단영역01 : 검색창 */
#header .header_search_cont {width:298px; height:50px; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; position:relative;}
#header .header_search_cont {min-height:50px;}
#header .top_search {width:298px; height:50px; top:0; right:0; border:0;}
#header .top_search input {border:none; outline:none; background:none;}
#header .top_search .top_text_cont {width:298px;}
#header .top_search .top_text_cont .top_srarch_text {height:50px;}
#header .top_search .top_text_cont .btn_top_srarch {top:18px; right:20px;}


/* 상단영역01 : 인기검색어 */
#header .header_sec01 .top_pop {width:126px;  height:50px; border-right:1px solid #ebebeb; border-bottom:1px solid #fff; text-align:left; background:url('../img/mimg/ico_top_ar.gif') no-repeat; background-position:100px center; position:relative;}
#header .header_sec01 .top_pop a.first {line-height:50px; font-size:12px; color:#888;  display:inline-block; width:80px; margin-left:18px; overflow:hidden;  white-space: nowrap; text-overflow: ellipsis; }
#header .header_sec01 .top_pop a strong {color:#000;}
#header .header_sec01 .top_pop:hover .top_pop_sub  {opacity:1; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; top:50px;}
#header .header_sec01 .top_pop .top_pop_sub {width:126px; border:1px solid #ebebeb; border-top:1px solid #fff;  position:absolute; top:-113px; left:-1px; z-index:200; background-color:#fff; opacity:0; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;}
#header .header_sec01 .top_pop .top_pop_sub a {height:36px; line-height:36px; font-size:12px; color:#888; display:block; padding-left:18px;}
#header .header_sec01 .top_pop .top_pop_sub a:hover {color:#000; background-color:#f5f5f5;}


/* 상단영역01 : 로그인 */
#header .header_sec01 .top_login {height:50px; margin-left:15px;}
#header .header_sec01 .top_login ul {float:right;}
#header .header_sec01 .top_login ul li {text-align:right; font-size:12px; color:#d1d1d1; line-height:50px;}
#header .header_sec01 .top_login ul li a {font-size:12px; color:#888; line-height:50px;}
#header .header_sec01 .top_login ul li a:hover {color:#000;}
#header .header_sec01 .top_login .mid {padding:0px 8px;}


/* 상단 영역 02 */
#header .header_sec02 {height:95px; width:100%; border-bottom:1px solid #ebebeb;}
#header .header_sec02 .inner {position:relative; width:1720px; margin:0 auto;}


/* 상단 영역 02 : 로고 */
#header .header_sec02 .top_logo {position:absolute; top:40px; left:0px; z-index:1;}


/* 상단 영역 02 : 카테고리 */
#header .header_sec02 .top_cate {position:absolute; left:0; top:20px; right:0; text-align:center; }
#header .header_sec02 .top_cate > div {display:inline-block; width:auto; height:95px; vertical-align:middle;}
#header .header_sec02 .top_cate ul li.top_cate_space {background:url('../img/mimg/top_cate_space.gif') no-repeat; background-position:left center; padding-left:15px; margin-left:15px;}
#header .header_sec02 .top_comm {position:absolute; top:38px; right:0px; }
#header .header_sec02 .top_comm ul li {float:left; padding-left:30px;}
#header .header_sec02 .top_comm ul li:first-child {padding-left:0px;}


/* 상단 영역 02 : 수동 추가 카테고리 */
#header .header_sec02 .top_add { height:58px;}
#header .header_sec02 .top_add ul li {float:left;}
#header .header_sec02 .top_add ul li:first-child {padding-left:20px;}
#header .header_sec02 .top_add ul li a {height:58px; line-height:58px; color:#000; font-family:'Montserrat', 'Nanum Gothic', sans-serif; font-weight:400; margin:0 15px; padding:0; font-size:13px;}


/* 상단 영역 02 : 우측 아이콘 메뉴 */
#header .header_sec02 .top_comm {position:absolute; top:38px; right:0px; }
#header .header_sec02 .top_comm ul li {float:left; padding-left:30px;}
#header .header_sec02 .top_comm ul li:first-child {padding-left:0px;}


/* 상단 영역 02 : 장바구니 아이콘 */
#header .header_sec02 .top_comm .top_cart {position:relative;}
#header .header_sec02 .top_comm .top_cart span {color:#000; position:absolute; top:0px; width:22px; height:18px; line-height:1.5; text-align:center; font-size:10px; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; font-weight:700; }


/* 상단메뉴 */
#header .gnb_menu_box {width:auto;}
#header .gnb_left {display:none;}
#header .gnb_right {display:none;}

/* 상단메뉴 최상위 */
#header .gnb .depth0 {font-size:0; vertical-align:top; border:none; overflow:hidden;}
#header .gnb .depth0 > li{ position:relative; display:inline-block; height:95px; vertical-align:top;}
#header .gnb .depth0 > li > a{ height:58px; line-height:58px; color:#151515; font-family:'Montserrat', 'Nanum Gothic', sans-serif; font-weight:400; margin:0 15px; padding:0; font-size:13px; display:block; }
#header .gnb .depth0 > li > a > img{ max-height:58px; vertical-align:middle;}
#header .gnb .cate_arrow {position:absolute; top:-7px; left:30px; background:url('../img/mimg/top_cate_sub_arrow.gif') no-repeat;z-index:1001; width:13px;height:7px; border:0; }

/* 상단메뉴 1뎁스 */
#header .gnb .depth1{opacity:0; visibility:hidden; position:absolute; top:0px; left:50%; width:180px; background:#fff; margin-left:-40%; z-index:100; border:1px solid #ebebeb; border-top:0; box-sizing:border-box;}
#header .gnb .depth1 li{position:relative;}
#header .gnb .depth1 li a{display:block;padding:5px 10px 7px 19px; font-size:12px; text-align:left; color:#888; font-family:'Montserrat', 'Nanum Gothic', sans-serif; }
#header .gnb .depth1 li a:hover{background:#f5f5f5; color:#000;}
#header .gnb .depth1 li a.active{background:#f5f5f5; color:#000;}

/* 상단메뉴 2뎁스 */
#header .gnb .depth2 {position:absolute; top:0; left:178px; width:180px; background:#fff; border:1px solid #ebebeb; box-sizing:border-box;}
#header .gnb .depth2 li a{display:block;padding:5px 10px 7px 19px; font-size:12px; text-align:left; color:#888; font-family:'Montserrat', 'Nanum Gothic', sans-serif; }
#header .gnb .depth2 li a:hover{background:#f5f5f5; color:#000;}
#header .gnb .depth2 li a.active{background:#f5f5f5; color:#000;}

/* 상단메뉴 3뎁스 */
#header .gnb .depth3 { position:absolute; top:0; left:180px; width:180px; background:#fff; border:0;}
#header .gnb .depth3 li a{display:block;padding:5px 10px 7px 19px; font-size:12px; text-align:left; color:#888; font-family:'Montserrat', 'Nanum Gothic', sans-serif; }
#header .gnb .depth3 li a:hover{background:#f5f5f5; color:#000;}
#header .gnb .depth3 li a.active{background:#f5f5f5; color:#000;}

/* 상단메뉴 4뎁스 */
#header .gnb .depth4{  position:absolute; top:0; left:180px; width:180px; background:#fff; border:0;}
#header .gnb .depth4 li a{display:block;padding:5px 10px 7px 19px; font-size:12px; text-align:left; color:#888; font-family:'Montserrat', 'Nanum Gothic', sans-serif; }
#header .gnb .depth4 li a:hover{background:#f5f5f5; color:#000;}
#header .gnb .depth4 li a.active{background:#f5f5f5; color:#000;}

/* 상단 메뉴 뎁스 위치 */
#header .gnb .depth0 > li:hover .depth1 {opacity:1; visibility:visible; top:75px;}


/* 우측 햄버거 관련 스타일 */
#mobile_allcate {width:450px;height:100%;margin:0;padding:0;font-size:12px;overflow:auto;background-color: #fff;overflow-x:hidden;-webkit-overflow-scrolling:touch;box-shadow: -1px 0px 35px 0px #666;border-left:1px solid #151515;}
#mobile_allcate.widepc {position:fixed;z-index: 2000;top:0;right:-485px;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s;transition: all 0.5s;text-align:left;}
#mobile_allcate .mobile_allcate_Close {position:absolute;top:30px;right:30px;}
#mobile_allcate .mobile_allcate_Close img {width:21px;-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#mobile_allcate .mobile_allcate_Close:hover img {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
#mobile_allcate .allcate_inner {padding:81px 50px 31px;}
#mobile_allcate .nav_t01 { font-size:15px; color:#252525; line-height:23px; padding-top:25px}
#mobile_allcate .nav_t02 {padding-top:27px;}
#mobile_allcate .nav_t02 ul li {float:right; width:168px; height:46px; border:1px solid #151515;}
#mobile_allcate .nav_t02 ul li:first-child {float:left;}
#mobile_allcate .nav_t02 ul li:first-child a {background-color:#151515; color:#fff;}
#mobile_allcate .nav_t02 ul li a {display:block; font-size:14px; text-align:center; line-height:46px; color:#151515;}
#mobile_allcate .nav_t03  {font-size:0px; padding-top:20px; height:30px; border-bottom:1px solid #ebebeb; padding-bottom:10px;}
#mobile_allcate .nav_t03  ul li {float:left; padding-right:8px; font-size:12px; color:#ebebeb; line-height:30px;}
#mobile_allcate .nav_t03  ul li a {font-size:12px; color:#555; line-height:30px;}
#mobile_allcate .nav_t03  ul li a:hover {color:#000;}
#mobile_allcate  ul.nav_tabs { width:100%; height:50px; line-height:50px; font-size:14px; border-bottom:3px solid #e3e3e3; margin-top:25px; color:#999; }
#mobile_allcate  ul.nav_tabs li { float:left; text-align:center; cursor:pointer; width:50%;}
#mobile_allcate  ul.nav_tabs li.active { background-color:#fff; color:#000; border-bottom:3px solid #151515;}
#mobile_allcate .nav_tab_container { clear: both; float: left; background:#fff; padding-top:25px;}
#mobile_allcate .nav_tab_content { display: none; position:relative;}
#mobile_allcate .nav_tab_container .nav_tab_content ul { width:350px; margin:0px; padding:0px; }
#mobile_allcate .nav_cate li {padding-bottom:3px;}
#mobile_allcate .nav_cate li a {font-size:12px; color:#000; font-family:'Montserrat','Nanum Gothic',sans-serif; height:34px; line-height:34px; padding-left:10px; display:block;}
#nav_tab1 .sub_menu_box.tree_type .sub_depth1 {display:none;}
.sub_menu_box .sub_depth0 > li > a {font-size:12px; color:#000; font-family:'Montserrat','Nanum Gothic',sans-serif; height:34px; line-height:34px; padding-left:10px; display:block; font-weight:400;}
.sub_menu_box.tree_type ul li a:hover {font-weight:400;}



/* 하단 : 로그인 */
.footer_log {height:259px; background-color:#fafafa; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;}
.footer_log .ft_l_t01 {font-size:23px; line-height:1; color:#151515; text-align:center; letter-spacing:-0.2px; padding-top:60px;}
.footer_log .ft_l_t02 {font-size:16px; line-height:1; color:#252525; text-align:center; letter-spacing:-0.2px; padding:20px 0px;} 
.footer_log .ft_l_btn ul {font-size:0px; text-align:center; padding-top:10px;}
.footer_log .ft_l_btn ul li {display:inline-block; width:150px; height:48px; border:1px solid #333; background-color:#fff; margin:0px 5px;}
.footer_log .ft_l_btn ul li:first-child {background-color:#333;}
.footer_log .ft_l_btn ul li:first-child a {color:#fff;}
.footer_log .ft_l_btn ul li a { display:block; line-height:48px; color:#000; font-size:15px; letter-spacing:-0.2px;}


/* 하단 관련 CSS */
.footer {text-align:left; }
.footer .footer_section01 {height:315px;  width:1720px; margin:0 auto;}
.footer .footer_section02 {height:315px; border-top:1px solid #eaeaea; }
.footer .footer_section02 .inner {width:1720px; margin:0 auto;}
.footer .footer_left {float:left; padding-top:60px;}
.footer .footer_right {float:right; padding-top:60px;}
.footer .ft_board {float:left; position:relative; width:500px;}
.footer .ft_board_li li {height:28px; background:url('../img/mimg/new_ico.gif') no-repeat; background-position:0px 4px;}
.footer .ft_board_li li a {font-size:12px; color:#555; line-height:1; display:block; padding-left:15px;}
.footer .ft_board_li li a:hover {color:#000;}
.footer .ft_board ul.tabs { margin:0; padding: 0; float:left; width:100%; height:27px; line-height:27px; padding-bottom:15px; font-weight:400; font-family:'Montserrat', sans-serif;  font-size:16px; border-bottom:2px solid #222;}
.footer .ft_board ul.tabs li { float:left; text-align:center; cursor:pointer;  color:#999; padding-right:20px;}
.footer .ft_board ul.tabs li.active { background-color:#fff; color:#000;}
.footer .ft_board .tab_container { clear: both; float: left; overflow:hidden; background:#fff; padding-top:25px;}
.footer .ft_board .tab_content { display: none;  width:500px;}
.footer .ft_board .tab_content span {position:absolute; top:6px; right:0px;}
.footer .ft_board .tab_container .tab_content ul { width:100%; margin:0px; padding:0px; }
.footer .ft_info01 {float:left; font-size:0px; padding-left:120px;}
.footer .ft_info01 .numb {font-size:26px;  font-family:'Montserrat', sans-serif;  font-weight:400; line-height:1;}
.footer .ft_info01 .cs {font-size:11px; color:#222; line-height:20px; padding-top:10px; font-family:'Montserrat', sans-serif;  font-weight:400;}
.footer .ft_info01 .cs span {color:#888;}
.footer .ft_info01 .faq_btn ul li {float:left;}
.footer .ft_info01 .faq_btn {padding-top:25px;}
.footer .ft_info01 .faq_btn ul li a {display:block; width:93px; height:36px; border:1px solid #222; line-height:36px; text-align:center; letter-spacing:-0.5px; font-size:12px; color:#222;}
.footer .ft_info01 .faq_btn ul li:first-child a {background-color:#222; color:#fff; margin-right:10px;}
.footer .ft_info02 {float:left; padding-left:120px; padding-top:3px;}
.footer .ft_info02 ul li {font-size:0px;}
.footer .ft_info02 ul li:first-child a { color:#000; margin-bottom:18px;}
.footer .ft_info02 ul li a {font-size:11px; color:#777; line-height:1; display:block; margin-bottom:13px; font-family:'Montserrat', sans-serif;  font-weight:400;}
.footer .ft_info02 ul li a:hover {color:#000;} 
.footer .ft_menu {padding-top:0px;}
.footer .ft_menu ul li {float:left; padding:0px 15px;  font-size:0px;}
.footer .ft_menu ul li:first-child {padding-left:0px; background:none; }
.footer .ft_menu ul li a {font-size:12px; color:#888; line-height:1; letter-spacing:-0.3px;}
.footer .ft_menu ul li a.privacy {color:#000;}
.footer .ft_menu ul li a:hover {color:#000;} 
.footer .ft_copy {padding-top:45px; font-size:11px; color:#888; line-height:21px;}
.footer .ft_sns {padding-top:3px;}
.footer .ft_sns .ft_sns_t {font-size:11px; font-family:'Montserrat', sans-serif; color:#222; text-align:right; line-height:1;}
.footer .ft_sns .ft_sns_i {padding-top:20px;}
.footer .ft_sns .ft_sns_i li {float:left; padding-left:10px;}


/* 우측 퀵배너 */
#right_quick {position:fixed; bottom:50px; right:30px; z-index:101;}
#right_quick > div {margin-top:10px;opacity:1;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#right_quick > div:hover {opacity:0.8;}
#right_quick ul {display:none;}
#right_quick ul li {display:block;margin-top:10px;position:relative;}
#right_quick ul li:first-child {margin:0;}
#right_quick ul li a img {opacity:1;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#right_quick ul li a img:hover {opacity:0.7;}
#right_quick .icon_quick_plus { cursor:pointer; position:relative;width:39px;height:39px;background-color:#252525; border-radius:50%;-webkit-border-radius:50%; -moz-border-radius:50%;}
#right_quick .icon_quick_plus img {position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;-webkit-transform:rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg);-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#right_quick .icon_quick_plus.is-open img {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);}



/* 상품 레이아웃 */
/* 상품리스트 SORT */
.goods_pick_list {height:60px; margin:40px 0 80px; border-bottom:1px solid #e9e9e9;}
.goods_pick_list form {float:right;}
.goods_pick_list .pick_list_num {display:block; float:left; font-size:12px; line-height:50px;}
.goods_pick_list .pick_list_box {border:none;}
.goods_pick_list .pick_list_box .pick_list li {margin:0; padding:0 15px; color:#999; background:url('../img/mimg/sub_cate_bg.gif') no-repeat; background-position:left center;}
.goods_pick_list .pick_list_box .pick_list li:first-child {background:none;}
.goods_pick_list .pick_list_box .pick_list label {padding:0;}

/* 갤러리형 상품진열 스타일 */
.item_gallery_type .item_cont {margin:0 auto;text-align:center;}
.item_gallery_type .item_cont .item_photo_box a img {width:100%;}
.item_gallery_type .item_info_cont {display:table; text-align:left; vertical-align:middle;}

/* 탭 상품진열 스타일 */
.item_hl_tab_type .goods_tab_cont .item_photo_box a img {width:100%;}

/* 상품진열 공통 스타일 */
.goods_list {padding:0;}
.goods_list_cont ul {float:left; width:1740px; font-size: 0; margin:0 0 0 -10px;}
/*.goods_list_cont ul li {margin:0 0 55px 0; padding:0;}*/
.item_info_cont {padding:0 0 0 10px;}
.item_tit_box .item_name {color:#151515; font-size:12px; font-weight:400; padding-top:15px;}
.item_tit_box .item_name_explain {color:#999; font-size:11px; line-height:18px; padding-top:10px;}
.item_money_box { padding:10px 0 0 0; }
.item_money_box .item_price { display:inline-block; color:#222; font-size:12px; font-weight:500;}
.item_money_box del {display:inline-block; margin-left:5px;}
.item_photo_box {border:0;overflow:hidden;}
.item_icon_box img {padding:10px 0 0 0;}
.goods_list .color {margin-top:0; padding:10px 0 0 3px;}
.goods_list .color > div {width:4px; height:4px; margin-right:3px; border-radius:50%;}
.goods_list + .pagination {margin:0; padding:0; border:0;}

/* 상품 장바구니 관련스타일 */
.item_soldout .item_link {z-index:2222;}
.item_link {position:absolute; bottom:-10px; right:-10px; text-align:center; width:42px; font-size:0px; opacity:1; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; }
.item_link .inner {margin:0 auto; width:61px;}
.goods_list_cont ul li:hover .item_link  {opacity:1; bottom:12px; right:30px;}

/* 장바구니버튼 */
.btn_basket_cart{overflow:visible; width:30px; height:30px; font-size:0px; float:right;}

/* 추천상품 랭크 아이콘 스타일  */
.rank_product .rank_icon { z-index:100; text-align:center; position:absolute; top:20px; left:20px; }
.rank_product .rank_icon .numb {font-size:11px; font-family:'Montserrat',sans-serif; line-height:1; display:block; color:#333;}

/* 할인율 아이콘 스타일  */
.goods_list_cont ul li .sale_text {position:absolute; bottom:20px; left:20px; width:35px; height:35px; line-height:35px; background-color:#252525; color:#fff; border-radius:50%; font-size:12px; letter-spacing:-0.7px; text-align:center;}

/*  메인상품진열 : 할인율 깜빡임  */
.blink { -webkit-animation: blink 1s infinite; animation: blink 1s infinite;} 



/* 상세 */
.content_box {float:none; width:1380px; margin:0 auto;}
.content_box .location_wrap .location_cont {width:1380px;}
.item_photo_info_sec {margin:50px auto 0; }
.item_photo_view_box {width:590px; margin-left:0; margin-right:100px;} /* 상세이미지 전체 크기 */
.item_photo_big img {width:100%;}
.item_photo_view_box .item_photo_big {width:590px; height:100%; font-size:0; border:0px;}
.item_photo_view_box .item_photo_big span {width:590px;}
.view_line {border-top:0px solid #eaeaea;}

/* 상품 이미지 슬라이드 */
.item_photo_slide{position:relative; margin:10px 0 0 -25px;}
.item_photo_slide .slider_goods_nav{ font-size:0; width:590px;} /* 이미지 전체 크기에서 -80px 하기. 정환 */
.item_photo_slide .slider_goods_nav li{ display:inline-block; width:92px; height:auto; padding:0px;}
.item_photo_slide .slider_goods_nav li img{ width:90px; height:auto; margin:0;}
.item_photo_slide .slider_goods_nav li a{ display:block; width:92px; margin:0 auto; border:1px solid #fff; box-sizing:border-box;}

/* 작은 슬라이드 이미지 오버시, 선택시 */
.item_photo_slide .slider_goods_nav li a:hover{width:92px; height:auto; border:1px solid #c9c9c9; box-sizing:border-box;}
.item_photo_slide .slider_goods_nav li a:hover img{margin:0; width:90px;}
.item_photo_slide .slider_goods_nav li a.on{width:92px; height:auto; border:1px solid #c9c9c9; box-sizing:border-box;}
.item_photo_slide .slider_goods_nav li a.on img{margin:0; width:90px;}

/* 작은 슬라이드 네비게이션 위치 */
.item_photo_slide .slick_goods_prev {top:25%; left:-40px; opacity:0.4; -webkit-transition: .2s ease-in-out; transition: .2s ease-in-out; -webkit-backface-visibility: hidden; }
.item_photo_slide .slick_goods_next {top:25%; right:-40px; opacity:0.4; -webkit-transition: .2s ease-in-out; transition: .2s ease-in-out; -webkit-backface-visibility: hidden; }
.item_photo_slide .slick_goods_prev:hover {opacity:1; -webkit-transition: .2s ease-in-out; transition: .2s ease-in-out; -webkit-backface-visibility: hidden; }
.item_photo_slide .slick_goods_next:hover {opacity:1; -webkit-transition: .2s ease-in-out; transition: .2s ease-in-out; -webkit-backface-visibility: hidden; }

/* 상세페이지 sns 위치 변경 */
.item_detail_tit .btn_qa_share_box {bottom:-50px;}
.item_tit_detail_cont .btn_gray_list a, .btn_gray_list button {background:none;}

/* 상세 상품정보 */
.item_info_box {width:690px; margin:0 0 0 0;padding:0 0 0;}
.item_detail_tit {padding-bottom:20px; position: relative; border-bottom: 1px solid #e9e9e9; }
.item_detail_tit .view_icon {margin-bottom:5px;}
.item_detail_tit .prd_icon {margin:5px 0px;}
.item_detail_tit h3 {width:100%; font-size:16px; font-family:'Nanum Gothic', 'Montserrat',sans-serif; font-weight:400; color:#000; border-top:2px solid #222; margin-bottom:5px; padding-top:10px;}
.item_detail_tit .shortDescription {padding-top:0px; font-size:13px; letter-spacing:-0.3px; color:#999; font-weight:300;}
.item_detail_list {border-bottom: 1px solid #e9e9e9; margin: 20px 0 0 0;}
.item_add_option_box {float:left; margin: 20px 0 0 0; padding: 20px 0 16px 0; border-top: 1px solid #e9e9e9;}
.item_detail_list dt {font-size:13px;width:17%;}
.item_detail_list dd {width:79%;font-size:13px;}
.item_detail_list .item_price dd {font-size:16px;}
.item_add_option_box {width:100%;}
.item_detail_list .chosen-container {width:100% !important;}
.text_type_cont {color:#555;}
.item_choice_list .cart_prdt_name {padding:20px 0 20px 10px;}
.item_choice_list .count {padding:0 5px;}
.item_tatal_box {float: right;width: 100%;padding: 20px 0 0 0;}

/* 상세페이지 구매버튼 */
.btn_choice_box {text-align:center;}
.btn_choice_box div {font-size:0;}
.btn_choice_box button {float:left; margin-left:10px; padding:0; font-size:12px; font-weight:400; letter-spacing:0.8px; font-family:'Montserrat','Nanum Gothic', sans-serif; outline:none;}
.btn_choice_box button:first-child {margin:0;}
.btn_add_wish,
.btn_add_cart {width:200px; height:70px; border:1px solid #dcdcdc; line-height:68px; color:#555; display:block; background-color:#fff;}
.btn_add_order {width:270px; height:70px; border:1px solid #323232; line-height:68px; color:#fff; font-size:12px; display:block; background-color:#323232; margin-left:10px;}
.btn_add_wish:hover,
.btn_add_cart:hover {border:1px solid #000; -webkit-transition:.2s ease-in-out; transition:.2s ease-in-out; -webkit-backface-visibility:hidden;}
.btn_add_order:hover {background-color:#fff; color:#000; border:1px solid #000; -webkit-transition:.2s ease-in-out; transition:.2s ease-in-out; -webkit-backface-visibility:hidden;}

/* 상세페이지 리뷰버튼 */
.btn_review span {float:left; margin:50px 5px 0 0; color:#b9b9b9; font-size:12px;}
.btn_review span a {color:#b9b9b9;}

/* 상세페이지 탭 */
.item_goods_sec {width:100%; margin:50px auto 50px;}
.item_goods_sec h3 {padding-top:0;}
.title_detail {display:block;padding:0 0 70px 0;  text-align:center; font-size:0;}
.title_detail li {float:left; width:20%; text-align:center; cursor:pointer; height:65px; line-height:65px;  position:relative;}
.title_detail li a {float:left; width:100%; text-align:center; cursor:pointer; height:65px; line-height:65px; color:#b0b0b0; position:relative; font-size:13px; border-top:1px solid #1f1f1f; border-bottom:1px solid #f0f0f0; font-weight:300;}
.title_detail li.selected a {background-color:#fff; color:#000;}

/* 상세페이지 관련상품 */
.rel_title01 {font-size:22px; color:#000; text-align:center; line-height:1; font-weight:200; font-family:'Montserrat', sans-serif;}
.rel_title02 {font-size:12px; color:#888; text-align:center; line-height:1; letter-spacing:-0.2px; padding:10px 0 100px 0;}
#relation .goods_list_cont ul {width:1380px;}

/* 상세페이지 게시판 버튼 */
.btn_reviews_more,
.btn_qna_more{display:inline-block; min-width:120px; padding:10px 10px 10px 10px; color:#222; font-weight:normal; border:1px solid #d9d9d9; background:#fff; text-align:center;margin-left:5px;}
.btn_reviews_more:hover,
.btn_qna_more:hover{color:#222; border:1px solid #222;}
.btn_reviews_write,
.btn_qna_write{display:inline-block; min-width:120px; padding:10px 10px 10px 10px; color:#888; font-weight:normal; border:1px solid #d9d9d9; background:#fff; text-align:center;margin-left:5px;}
.btn_reviews_write:hover,
.btn_qna_write:hover{border:1px solid #222;color:#222; background:#fff;}
.btn_reviews_box,
.btn_qna_box{position:static;float:right;margin:10px 0;}

/* 마이페이지 좌측 */
.side_cont .sub_menu_box .sub_menu_mypage {margin:7px 0 0 10px;}

/* 검색페이지 상단 여백 */
.goods_search_cont {margin-top:30px;}
.goods_search_cont .goods_list_cont ul {width:1530px;}

/* 전체페이지 포인트 색상 */
.order_wrap .order_tit .page_on,
.scroll_right_cont .src_box strong,
.search_text_result span,
.mypage_top_wallet li strong,
.payment_final_total dd,
.item_tatal_box .total_amount dd,
.price_sum_cont .price_sum_list dd strong,
.price_sum_cont .price_sum_list dd,
.info_again a,
.side_cont .info_box .info_num,
.goods_pick_list .pick_list_num strong {color:#000;}
.goods_pick_list .pick_list_box .pick_list label.on {color:#000; font-weight:400; background:none;}

.side_cont .sub_menu_box .sub_menu_mypage a:hover,
.side_cont .sub_menu_box .sub_menu_mypage .active {background:#fff; color:#222 ;font-weight:normal;}
.pagination li.on span {border-radius:0;}
.pagination li.on:hover {text-decoration:none;}
.pagination .on{color:#222 ; font-weight:bold;}
.btn_board_search{border:1px solid #444;background:#444;}
.btn_board_search:hover{border:1px solid #222 ; background:#222 ;}
.btn_before{color:#444;border:1px solid #444;}
.btn_write_ok{border:1px solid #444; background:#444;}
.btn_write_ok:hover{border:1px solid #222 ; background:#222 ;}
.btn_comment_best{color:#ffffff; border:1px solid #444; background:#444;}
.btn_comment_best:hover{border:1px solid #222 ; background:#222 ;}

.join_ok_box .btn_member_sec li button,
.join_ok_box .btn_member_sec .btn_login,
.btn_claim_cancel,
.btn_claim_cancel:hover,
.btn_pw_cancel,
.btn_pw_cancel:hover,
.btn_order_choice_buy:hover,
.btn_order_choice_buy,
.btn_member_cancel:hover,
.btn_member_cancel,
.member_cont .nonmember_order_box .order_input_sec button {border:1px solid #222; color:#222;}

.join_ok_box .btn_member_sec .btn_login,
.quick_search_cont_box .quick_btn input,
.btn_claim_ok,
.btn_pw_certify,
.btn_date_check,
.mypage_cont .btn_date_check,
.btn_order_buy,
.btn_order_whole_buy,
.btn_member_black,
.btn_member_next,
.btn_comfirm,
.member_cont .member_login_box .login_input_sec button{border:1px solid #222 ; background:#222 ; color:#ffffff;}

.join_ok_box .btn_member_sec .btn_login:hover,
.quick_search_cont_box .quick_btn input:hover,
.btn_claim_ok:hover,
.btn_pw_certify:hover,
.btn_date_check:hover,
.mypage_cont .btn_date_check:hover,
.btn_order_whole_buy:hover,
.btn_order_buy:hover,
.btn_member_black:hover,
.btn_member_next:hover,
.btn_comfirm:hover,
.member_cont .member_login_box .login_input_sec button:hover{background:#111; border:1px solid #111;}

.option_layer_cont .btn_confirm {background-color:#222; border:1px solid #222;}

/* 마이페이지 최근본상품 진열 */
.mypage_lately_goods .goods_list_cont {background:none;}
.mypage_lately_goods .goods_list_cont ul {width:1500px;}
.mypage_lately_goods .goods_list_cont ul li .item_cont .item_photo_box img,
.mypage_lately_goods .goods_list_cont ul li .item_cont {width:260px;}
.mypage_lately_goods .goods_list_cont ul li .item_cont .best_icon {display:none;}

/* 검색페이지 측면 */
.sub_search_box {width:190px;margin:30px auto;}
.sub_search_box dl dd select{width:190px;}
.sub_search_box .chosen-container{width:190px;}
.sub_search_box .benefit_box span {vertical-align:top;width:100%;}
.sub_search_box .price_box input {width:130px;}
.sub_search_box .quick_btn input {padding:10px 0;width:190px;}


@media screen and (max-width:1919px){
	/* 레이아웃 */
	#contents .sub_content,
	.gnb,.header_top_cont,.header_search_cont,.main_goods_cont,.content_info,.foot_list ul,.foot_cont,.foot_certify {width:1470px;}

	/* 상단 */
	#header .header_sec01 .inner {width:1470px;}
	#header .header_sec02 .inner {width:1470px;}
	
	/* 공통 상품진열 */
	.goods_list_cont ul {width:1490px;}

	/* 검색페이지 */
	.goods_search_cont .goods_list_cont ul {width:1275px}

	/* 하단 */
	.footer .footer_section01 {width:1470px; }
	.footer .footer_section02 .inner {width:1470px;}
	.footer .ft_board {width:450px;}
	.footer .ft_board .tab_content {width:450px;}

	/* 서브페이지 네비게이션 */
	#contents > .location_wrap {width:1470px;}
	#contents > .location_wrap .location_cont {width:1470px;}
	.location_wrap .location_cont {width:1470px;}

	/* 마이페이지 */
	#contents .sub_content > .side_cont + .content {width:1260px;}
}

@media screen and (max-width:1599px){
	/* 레이아웃 */
	#contents .sub_content,
	.gnb,.header_top_cont,.header_search_cont,.main_goods_cont,.content_info,.foot_list ul,.foot_cont,.foot_certify {width:1380px;}
	
	/* 상단 */
	#header .header_sec01 .inner {width:1380px;}
	#header .header_sec02 .inner {width:1380px;}

	/* 공통 상품진열 */
	.goods_list_cont ul {width:1400px;}

	/* 검색페이지 */
	.goods_search_cont .goods_list_cont ul {width:1175px}

	/* 하단 */
	.footer .footer_section01 { width:1380px; }
	.footer .footer_section02 .inner {width:1380px;}
	.footer .ft_board {width:350px;}
	.footer .ft_board .tab_content { width:350px;}
	.footer .ft_info02 {padding-left:100px; }
	.footer .ft_info01 {padding-left:100px;}

	/* 서브페이지 네비게이션 */
	#contents > .location_wrap {width:1380px;}
	#contents > .location_wrap .location_cont {width:1380px;}
	.location_wrap .location_cont {width:1380px;}

	/* 마이페이지 */
	#contents .sub_content > .side_cont + .content {width:1160px;}
}



/*-------------------------------------------------------------------
    ## 하단디자인
-------------------------------------------------------------------*/
.nd-container {position:relative; width:1400px; margin:0 auto;}/* width 반응형 아닐 경우 지정 */
.nd-container:after {position:relative; display:block; content:""; clear:both;}
.nd-container .gnb {width:100%;} 
#footer {overflow:hidden; padding:0; background-color:#323232;}
#footer_wrap {border-top:none;}
.nd-footer .footrer-cont{position:relative; width:100%; background:#333333;}
.nd-footer .footrer-cont .footer-logo{position:absolute; top:50%; left:30px; margin-top:-25px;}
.nd-footer .footrer-cont .footer-sns{position:relative; text-align:center; padding:64px 0;}
.nd-footer .footrer-cont .footer-sns h3{display:inline-block; font-size:15px; font-weight:400; color:#ffffff; line-height:30px; padding:0 24px 0 0;}
.nd-footer .footrer-cont .footer-sns .sns-ico{display:inline-block; line-height:30px; padding:0 14px;}
.nd-footer .footrer-cont .footer-sns .sns-ico img{vertical-align:middle;}
/*.nd-footer .footer-nav {background:#f7f7f7;}*/
/*.nd-footer .footer-nav .nav-list {padding:16px 30px;}*/
.nd-footer .footer-nav{border-right:1px solid #5b5b5b;}
.nd-footer .footer-nav ul{width:50%;display:table-cell;}
.nd-footer .footer-nav ul:first-child{border-right:1px solid #5b5b5b;}
.nd-footer .footer-nav ul li {/*display:inline-block;*/ text-align:left; font-size:15px; font-weight:400; color:#b5b5b5; line-height:1; /*margin:0 20px;*/padding-bottom:17px;padding-left:30px;padding-right:47px;}
.nd-footer .footer-nav ul li:first-child{/*margin:0 20px 0 0;*/padding-bottom: 25px;font-family: 'Open Sans',Sans-serif;}
.nd-footer .footer-nav ul li a{color:#b5b5b5;font-weight:300;}
.nd-footer .footer-nav ul li a strong{font-weight:300;}
.nd-footer .footer-nav .nd-cs-list {}
.nd-footer .footer-info {padding:48px 0 0 0;}
.nd-footer .footer-info .footer-box-wrap{display:table; width:100%; /*padding-left:30px;*/}
.nd-footer .footer-info .footer-box-wrap .footer-box{display:table-cell; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;line-height:1;}
.nd-footer .footer-info .footer-box-wrap .footer-box.footer-box-bank .footer-box-cont{display:inline-block;padding:0 9px 0 0;}
.nd-footer .footer-info .footer-box-wrap .footer-box.footer-box-bank .footer-box-cont strong{font-family: 'Open Sans',sans-serif;color:#b5b5b5;font-size:15px;font-weight:400;padding:0 10px 0 11px;}
.nd-footer .footer-info .footer-box-wrap .footer-box + .footer-box{/*border-left:1px solid #d1d1d1;*/ padding-left:32px;}
.nd-footer .footer-info .footer-box-wrap .footer-box.footer-nav{width:27%;padding-left:0;}
.nd-footer .footer-info .footer-box-wrap .footer-box h3{font-size:15px; font-weight:400; color:#b5b5b5; line-height:1;display: inline-block;font-family: 'Open Sans',sans-serif;}
.nd-footer .footer-info .footer-box-wrap .footer-box .footer-box-cont.nd-time{margin:25px 0 27px;}
.nd-footer .footer-info .footer-box-wrap .footer-box .footer-box-cont p{display:inline-block;font-size:15px; font-weight:300; color:#b5b5b5; letter-spacing: -0.25px; line-height:1;}
.nd-footer .footer-info .footer-box-wrap .footer-box .footer-box-cont .nd-bank-name:after{display:inline-block;content:"/";padding:0 3px;}
.nd-footer .footer-info .footer-box-wrap .footer-box .nd-tel-numb{display: inline-block;  line-height:1; font-size:25px; font-weight:700; color:#fff; padding-left:22px;font-family:'Open Sans',sans-serif;}
.nd-footer .footer-info .footer-box-wrap .footer-box-cs{width:33.5%;border-right:1px solid #5b5b5b;}
/*.nd-footer .footer-info .footer-box-wrap .footer-box-bank{width:33.3%;}*/
.nd-footer .footer-info .footer-box-wrap .footer-info-list{width:40%;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list .copyright{font-size:12px; padding:21.5px 0 0 0;color:#838383;font-weight:300;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list .copyright strong{font-weight:300;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list li:first-child{font-family:'Open Sans',sans-serif; padding:0 0 22.5px 0;font-size:15px;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list li{font-size:13px; font-weight:300; color:#b5b5b5;padding:4.5px 0;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list li a{color:#b5b5b5;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list li span:after{content:""; display:inline-block; width:1px; height:13px; margin:0px 12px; background:#b5b5b5; vertical-align:-1px;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list li span:last-child:after{display:none;}
.nd-footer .footer-info .footer-box-wrap .footer-info-list li .btn_licensee_info{font-size:13px; font-weight:400; color:#b5b5b5; border:none;}
/*하단 sns*/
.nd-footer .footer-sns{width:100%;display: flex;padding-top:29px;}
.nd-footer .footer-sns li{margin-right:10px;}
/* 하단검색 */
.nd-footer .footrer-cont .footer-search{position:absolute; top:50%; right:0; margin-top:-24px;display:none;}
.nd-footer .footrer-cont .footer-search h3{font-size:15px; font-weight:400; color:#ffffff; float:left; padding:0 27px 0 0; line-height:48px;}
.nd-footer .footrer-cont .footer-search legend{display:none;}
.nd-footer .footrer-cont .footer-search .top_search{display:inline-block;}
.nd-footer .footrer-cont .footer-search .top_search .top_text_cont{width:298px;}
.nd-footer .footrer-cont .footer-search .top_search .top_text_cont .top_srarch_text{width:100%; height:48px; background-color:#e7e7e7; border-radius:30px; padding:5px 60px 5px 15px; box-sizing:border-box;}
.nd-footer .footrer-cont .footer-search .top_search .top_text_cont .btn_top_srarch{position:absolute; top:14px; right:28px; border-left:none 0;}
.nd-footer .footrer-cont .footer-search .top_search .search_cont{display:none!important; border:1px solid #f0f0f0; margin:0; font-size:0; background:#ffffff;}
.nd-footer .footrer-cont .footer-search .top_search .search_cont .recom_box{min-height:65px;}
.nd-footer .footrer-cont .footer-search .top_search .search_cont .recom_box + .recent_box{width:142px; min-height:65px;}
.nd-footer .footrer-cont .footer-search .top_search .search_cont .recom_box + .recent_box li a{width:42%;}
